.page {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;

    &__header {
        padding: 10px 24px;
        border-bottom: 1px solid $color--lightblue;
    }

    &__main {
        padding: 24px 24px;

        @media (min-width: $breakpoint--desktop) {
            padding: 42px 32px;
        }
    }

    &__panel {
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        height: 100%;
        min-height: 100vh;
    }
}