.page {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;

    &__header {
        padding: 10px 24px;
        border-bottom: 1px solid $color--lightblue;

        @media (min-width: $breakpoint--desktop) {
            margin-left: 320px;
        }
    }

    &__main {
        padding: 24px 0;
        padding-bottom: 40px;

        @media (min-width: $breakpoint--desktop) {
            padding: 42px 0;
            margin-left: 320px;
        }
    }

    &__panel {
    
    }

    &__modal {
        z-index: 10;
    }

    &__footer {
        border-top: 1px solid $color--lightblue;
        padding: 40px 16px;

        @media (max-width: $breakpoint--mobile) {
            padding: 16px;
        }

        @media (min-width: $breakpoint--desktop) {
            margin-left: 320px;
        }
    }
}