.general-options--vhidden--always {
	border: 0; 
	clip: rect(0 0 0 0); 
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
@media (min-width: 541px) {
	.general-options--vhidden--mt-mobile {
		border: 0; 
		clip: rect(0 0 0 0); 
		-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		height: 1px; 
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
}

@media (min-width: 1120px) {
	.general-options--vhidden--mt-desktop {
		border: 0; 
		clip: rect(0 0 0 0); 
		-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		height: 1px; 
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
}

@media (max-width: 540px) {
	.general-options--vhidden--lt-mobile {
		border: 0; 
		clip: rect(0 0 0 0); 
		-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		height: 1px; 
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
}
@media (max-width: 1119px) {
	.general-options--vhidden--lt-desktop {
		border: 0; 
		clip: rect(0 0 0 0); 
		-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
		height: 1px; 
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		white-space: nowrap;
	}
}