%icon-button__button--img {
	background-position: center;
	background-repeat: no-repeat;
}

.icon-button {
	display: block;

	&__button {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 0;
		background-color: $color--pink;
		transition: background-color 0.6s ease;
		cursor: pointer;

		&:hover {
			background-color: $color--lightpink;
		}

		&--img {
			&--burger {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/burger.svg');
			}
			&--chat {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/chat.svg');
			}
			&--order {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/order.svg');
			}
			&--phone {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/phone.svg');
			}
			&--profile {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/profile.svg');
			}	
			&--status {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/status.svg');
			}
			&--search {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/search.svg');
			}
			&--arrow-right {
				@extend %icon-button__button--img;
				background-color: #fff;
				background-image: url('/static/icons/arrow-right.svg');
			}
			&--close {
				@extend %icon-button__button--img;
				background-image: url('/static/icons/close.svg');
			}
		}
	}

	&__label {
		display: flex;
	    gap: 8px;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-content: center;
	    justify-content: flex-start;
	    align-items: center;
	    cursor: pointer;
	}

	&__label-text {
		font-size: 16px;
	}
}