.brands__item {
    height: 72px;
    width: 240px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-basis: 19%;
}

@media (max-width: 1185px) {
    .brands__item {
        flex-basis: 25%;
    }
}

@media (max-width: 780px) {
    .brands__item {
        flex-basis: 35%;
    }
}

@media (max-width: 540px) {
    .brands__item {
        flex-basis: unset;
        flex-grow: unset;
    ]
}