.brands__item--hidden--always {	
	display: none;
}

@media (max-width: 1105px) {
    .brands__item--hidden--media-desktop { 
        display: none;
    }
}
@media (max-width: 835px) {
    .brands__item--hidden--media-tablet { 
        display: none;
    }
}

@media (max-width: 560px) {
    .brands__item--hidden--always { 
        display: flex;
    }
    .brands__item--hidden--media-desktop { 
        display: flex;
    }
    .brands__item--hidden--media-tablet { 
        display: flex;
    }
}

.brands__item--hidden--disabled {
    display: flex;
}