.main {
	background-color: $color--page;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    row-gap: 32px;

    &__about {

    }

    &__aside {
        flex-basis: 100%;

        @media (min-width: $breakpoint--desktop) {
            flex-basis: 35%;
            margin-left: auto!important;
        }
    }

    &__brands {
        flex-basis: 100%;
    }

    &__content {
        flex-basis: 100%;
    }

    &__nav {
        flex-basis: 100%;
        overflow-x: auto;
    }

    &__subtitle {
        flex-basis: 100%;
        border-top: 1px solid $color--lightblue;
        flex-basis: 100%;
        margin: 0;
        padding: 16px 32px;
        background: linear-gradient(90deg, $color--page 0%, #FFFFFF 98.61%);
        line-height: 24px;
        font-size: 16px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        font-weight: normal;
    }

    &__title {
        font-size: 2em;
        position: relative;
        flex-basis: 100%;
        margin: 0;

        @media (min-width: $breakpoint--desktop) {
            flex-basis: 50%;
        }

        &:before {
            position: absolute;
            left: -24px;
            top: -50%;
            content: ' ';
            height: 40px;
            width: 4px;
            background-color: $color--blue;
            
            @media (min-width: $breakpoint--desktop) {
               left: -32px; 
            }
        }
    }
}