.icon-button__button--img--burger {
	background-image: url('/assets/icons/burger.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.icon-button__button--img--chat {
	background-image: url('/assets/icons/chat.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.icon-button__button--img--order {
	background-image: url('/assets/icons/order.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.icon-button__button--img--phone {
	background-image: url('/assets/icons/phone.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.icon-button__button--img--profile {
	background-image: url('/assets/icons/profile.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.icon-button__button--img--status {
	background-image: url('/assets/icons/status.svg');
	background-position: center;
	background-repeat: no-repeat;
}
.icon-button__button--img--search {
	background-image: url('/assets/icons/search.svg');
	background-position: center;
	background-repeat: no-repeat;
}
