@import url("/assets/fonts/TTLakes/TTLakes.css");

html {
	font-family: 'TT Lakes';
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
body {
	padding: 0;
	margin: 0;
}
.icon-button__label-text[hidden = lt768] {
	color: green;
}