.column2__column {
	flex-basis: calc(50% - 16px);
}
@media (max-width: 512px) {
	.column2__column {
		flex-basis: 100%;
		margin-bottom: 32px;
	}
	.column2__column:nth-last-child(1) {
		margin-bottom: 0;
	}
}