.brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 16px 32px;
    /*max-width: 1320px;*/
    margin-bottom: 24px;
    width: 100%;

    @media (max-width: $breakpoint--mobile) {
        flex-wrap: nowrap;
        gap: unset
    }

    &__item {
        height: calc(72px - 16px - 16px - 2px);
        width: calc(240px - 16px - 16px - 2px);
        padding: 16px;
        background-color: #fff;
        border: 1px solid var(--cps-lightgrey);
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        flex-basis: 19%;

        @media (max-width: 1185px) {
            flex-basis: 25%;
        }

        @media (max-width: 780px) {
            flex-basis: 30%;
        }

        @media (max-width: $breakpoint--mobile) {
            flex-basis: unset;
            flex-grow: unset;
        }

        &::marker {
            display: none;
        }

        &--hidden {
            
            &--c3 {
                @media (max-width: 1185px) {
                    display: none;
                }
                @media (max-width: $breakpoint--mobile) {
                    display: flex;
                }
            }

            &--c2 {
                @media (max-width: 780px) {
                    display: none;
                }
                @media (max-width: $breakpoint--mobile) {
                    display: flex;
                }
            }

            &--always {
                display: none;
                @media (max-width: $breakpoint--mobile) {
                    display: flex;
                }
            }
        }
    }

    &__item-image {
        height: 100%;
        object-fit: contain;
        max-width: 130px;
    }
}