html {
	font-family: 'TT Lakes';
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
body, menu, li, ul, header, footer, aside, main {
	padding: 0;
	margin: 0;
}
html, body {
	min-height: 100vh;
	width: 100%;
	min-width: 320px;
	color: #000000;
}
a {
	color: unset;
}

$color--pink: 		#FF3E79;
$color--lightpink:	#FF92B4;
$color--grey: 		#7E7E82;
$color--lightgrey:	#EAEAEA;
$color--blue: 		#41F6D7;
$color--lightblue:	#D9FFF5;
$color--page: 		#F8F8F8;

$breakpoint--mobile: 512px;
$breakpoint--desktop: 1120px;