.header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    &__burger {

    }

    &__buttons {
        margin-left: auto;
    }

    &__divider {
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: $color--lightgrey;
    }

    &__logo {

    }
}