.readmore .readmore__open{
	display: none;
}
.readmore.readmore--open .readmore__open{
	display: inline-block;
}

.readmore .readmore__close{
	display: inline-block;
}
.readmore.readmore--open .readmore__close{
	display: none;
}

.readmore--open:before {
	transform: rotate(180deg);
}